:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --contact-info-color: #757575;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --icon-color: #afb1b8;
  --cube: cubic-bezier(0.4, 0, 0.2, 1);
  --hover-time: 250ms;
}
